*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-y: hidden;
    background-image: url(https://wallpapershome.com/images/pages/ico_h/27148.jpg);
    background-size: cover;
    background-position: center;
}

#main{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#main p{
    color:beige;;
    margin-bottom: 10px;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main video{
    height: 60%;
    width: 50%;
}